*{
    font-family: 'Roboto', sans-serif;
}

hr{
    color: #ed6f0e;
}

h1{
    font-family: 'PT Serif', serif;
}


.main{
    margin-top: 30px;
    margin-bottom: 30px;
}

.company, .location{
    margin-bottom: 30px;
}



.myButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #fff2e5 5%, #fff2e5 100%);
    background-color:#fff2e5;
    border-radius:6px;
    border:1px solid #ed6f0e;
    display:inline-block;
    cursor:pointer;
    color:#ed6f0e;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    }
    .myButton:hover {
    background:linear-gradient(to bottom, #fff2e5 5%, #fff2e5 100%);
    background-color:#fff2e5;
    }
    .myButton:active {
    position:relative;
    top:1px;
    }

    .heart {
        box-shadow: 0px 0px 44px 0px #ffedc2;
        background-color:#ffffff;
        border-radius:37px;
        border:1px solid #ffffff;
        display:inline-block;
        cursor:pointer;
        color:#ffdf9e;
        font-family:Arial;
        font-size:17px;
        padding:13px 18px;
        text-decoration:none;
        text-shadow:0px 1px 0px #c78500;
        }
        .heart:hover {
        background-color:#fffbeb;
        }
        .heart:active {
        position:relative;
        top:1px;
        }

.bottom-links{
    margin-bottom: 50px;
}


